/* ASSIGNMENT 2 */

/*******************************************************
  Common styling
*******************************************************/

body { /* Everything */
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: arial;
  line-height: 150%;
}
.message { /*The container that surrounds a post*/
  float: left;
  margin-left: 40px;
  margin-bottom: 30px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #DEC;
}
.postphoto { /*The cow icon next to a post */
  float: left;
  clear: both;
}
.linkbutton {
  background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
    color:#337AB7;
    cursor:pointer;
}

/*******************************************************
  Home page
*******************************************************/
.posts { /*The container that holds all the posts including the cow icons on the home page*/
  margin-top: 60px;
  margin-left: 350px;
  font-size: 16px;
  max-width: 700px;
  float: left;
}
/*******************************************************
  Comments page
*******************************************************/
.commentscontainer { /*The container for everything on the comments page, center-aligned */
  margin: 0 auto;
  margin-top: 60px;
  font-size: 16px;
  max-width: 700px;
}
.comments { /*The container that surrounds the comments on a post */
  float: left;
  margin-top: -20px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 12px;
  width: 500px;
  margin-left: 140px;
  background-color: #EFD;
  border-radius: 10px;
}
/*******************************************************
  Edit page
*******************************************************/
.editcontainer { /*The container for everything on the edit page, center-aligned */
  margin: 0 auto;
  margin-top: 60px;
  font-size: 16px;
  max-width: 300px;
}
/*******************************************************
  Forms
*******************************************************/
.newpostform { /*The form on the home page to create a new post */
  position: fixed;
  top: 50px;
  clear: both;
  margin-right: 80px;
  margin-top: 20px;
}
.inputfield { /*The textfields on the home page as part of the new post form */
  min-width: 300px;
  margin-bottom: 10px;
}
#newcommentform { /*The form on the comments page to enter a new comment*/
  margin-left: 160px;
  width: 100%;
}
.commentinputfield { /*The input field on the comments page*/
  min-width: 460px;
  margin-bottom: 10px;
}
.form-control {
  color: black;
}